# -- Time Series Enalysis and Forecasting for Srock Market --

#### Import Libraries

In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.graph_objects as go
import yfinance as yf
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.seasonal import seasonal_decompose

#### Loading Data

In [2]:
# define ticker symbol 
ticker = 'NKE'
# get data on this ticker
df = yf.download(ticker, start='1980-12-02', end='2024-12-31')
# Save to CSV
df.to_csv("nike_stock.csv", index=False)

C:\Users\user\AppData\Local\Temp\ipykernel_12620\3284380955.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start='1980-12-02', end='2024-12-31')
[*********************100%***********************]  1 of 1 completed

In [3]:
df.head()

Price          Close      High       Low      Open     Volume
Ticker           NKE       NKE       NKE       NKE        NKE
Date
1980-12-02  0.124361  0.127064  0.124361  0.124361  100710400
1980-12-03  0.121657  0.123008  0.121657  0.123008   25177600
1980-12-04  0.125712  0.127064  0.125712  0.125712   22694400
1980-12-05  0.118953  0.121657  0.118953  0.121657    7590400
1980-12-08  0.112194  0.113547  0.112194  0.113547    5414400

#### Data Preprocessing

In [4]:
df.isnull().sum()

Price   Ticker
Close   NKE       0
High    NKE       0
Low     NKE       0
Open    NKE       0
Volume  NKE       0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11112 entries, 1980-12-02 to 2024-12-30
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   (Close, NKE)   11112 non-null  float64
 1   (High, NKE)    11112 non-null  float64
 2   (Low, NKE)     11112 non-null  float64
 3   (Open, NKE)    11112 non-null  float64
 4   (Volume, NKE)  11112 non-null  int64
dtypes: float64(4), int64(1)
memory usage: 520.9 KB

In [6]:
# ensure chronological order
df.sort_values(by='Date', inplace=True)
# removing columns that are not needed
df = df[['Close']]
df.head()

Price          Close
Ticker           NKE
Date
1980-12-02  0.124361
1980-12-03  0.121657
1980-12-04  0.125712
1980-12-05  0.118953
1980-12-08  0.112194

In [7]:
# taking last one year data
data = df.tail(252)
data.head()

Price            Close
Ticker             NKE
Date
2023-12-29  104.954956
2024-01-02  103.002205
2024-01-03  100.575783
2024-01-04   98.893715
2024-01-05   98.681038

#### Exploratory Data Analysis (EDA)